*.a
*.aux
*.bbl
*.blg
*.cache
*.deps
*.dvi
*.eps
*.idx
*.ilg
*.ind
*.la
*.libs
*.lo
*.lof
*.log
*.lot
*.lqjo
*.lqxo
*.o
*.out
*.out
*.pdf
*.ps
*.svg
*.toc
*~
.DS_Store
.files
.svn
Makefile
Makefile.in
Parser_pre.cpp
Parser_pre.h
Parser_pre.out
Scanner_pre.cpp
aclocal.m4
config
config.cache
config.h
config.h.in
config.status
install-sh
lemon
libtool
lqn2ps
lqngen
lqns
lqsim
lqx
missing
models/bugs
petrisrvn
qnsolver
srvn_gram.c
srvn_gram.h
srvn_gram.output
srvn_result_gram.c
srvn_result_gram.h
srvn_result_gram.output
srvn_result_scan.c
srvn_scan.c
srvndiff
stamp-h1
parasol/tests
libmva/regression/popitertest
libmva/regression/poptest
libmva/regression/test0
libmva/regression/test0a
libmva/regression/test1
libmva/regression/test10
libmva/regression/test11
libmva/regression/test11a
libmva/regression/test11b
libmva/regression/test11f
libmva/regression/test12
libmva/regression/test12s
libmva/regression/test13e
libmva/regression/test13s
libmva/regression/test1hv
libmva/regression/test1hvp
libmva/regression/test1p
libmva/regression/test1ps
libmva/regression/test2
libmva/regression/test2nc
libmva/regression/test2p
libmva/regression/test2pnc
libmva/regression/test3
libmva/regression/test3c
libmva/regression/test3e
libmva/regression/test3ehv
libmva/regression/test3ehvp
libmva/regression/test4
libmva/regression/test4a
libmva/regression/test5
libmva/regression/test6
libmva/regression/test7
libmva/regression/test7e
libmva/regression/test7e4
libmva/regression/test7ek
libmva/regression/test7nc
libmva/regression/test8
libmva/regression/test8p
libmva/regression/test9
libmva/regression/test9a
libmva/regression/test9b
libmva/regression/test9c
libmva/regression/test9d
libmva/regression/test9i
libmva/regression/testA
libmva/regression/testB
