*.a
*.aux
*.bbl
*.blg
*.cache
*.deps
*.dvi
*.eps
*.idx
*.ilg
*.ind
*.la
*.libs
*.lo
*.lof
*.log
*.lot
*.lqjo
*.lqxo
*.o
*.out
*.out
*.pdf
*.ps
*.toc
*~
.DS_Store
.files
.svn
Makefile
Makefile.in
Parser_pre.cpp
Parser_pre.h
Parser_pre.out
Scanner_pre.cpp
aclocal.m4
config
config.cache
config.h
config.h.in
config.status
configure
install-sh
lemon
libtool
lqn2ps
lqngen
lqns
lqsim
lqx
missing
models/bugs
petrisrvn
srvn_gram.c
srvn_gram.h
srvn_gram.output
srvn_result_gram.c
srvn_result_gram.h
srvn_result_gram.output
srvn_result_scan.c
srvn_scan.c
srvndiff
stamp-h1
